<%- layout('/layout/template.ejs') %>
<div class="password">
  <div class="mainpage">
    <div class="section-1">
      <h3>Account</h3>
      <hr style="width: 80%; margin-left: 20px; margin-top: 20px" />
      <div class="links">
        <div class="elements">
          <div><img src="../images/Home.png" alt="" /></div>
          <a href="/home2">Home</a>
        </div>
        <div style="position: relative" class="elements">
          <div><img src="../images/9977091-removebg-preview.png" alt="" /></div>
          <a href="../personalInfo.html">Personal Info</a>
        </div>
        <div style="position: relative" class="elements">
          <div><img src="../images/Password.png" alt="" /></div>
          <a href="../password/password.html">Password Info</a>
          <img
            style="
              width: 10px;
              height: 10px;
              -webkit-transform: scaleX(-1);
              transform: scaleX(-1);
              position: absolute;
              top: 6px;
              right: 10px;
            "
            src="../images/1200px-Red_Arrow_Left.svg-removebg-preview.png"
            alt=""
          />
        </div>
        <div class="elements">
          <div><img src="../images/Memebership (1).png" alt="" /></div>
          <a href="../membership/membership.html">Memebership Details</a>
        </div>
        <div class="elements">
          <div><img src="../images/Logout.png" alt="" /></div>
          <a href="/home">LogOut</a>
        </div>
      </div>
    </div>

    <div class="section-2">
      <h1>Password Info</h1>

      <hr
        style="
          width: 90%;
          margin-left: 22px;
          margin-top: 20px;
          color: grey;
          opacity: 0.5;
        "
      />

      <a href="./editPassword.html" class="edit">Edit</a>

      <div>
        <form class="form" action="">
          <div style="margin-left: 35px; margin-top: 20px">
            <div style="margin-top: 20px; margin-left: 0px">
              <div class="box" style="margin-left: 10px; margin-top: 0px">
                <label for="username">User Name</label>
                <input
                  type="text"
                  name="username"
                  id="username"
                  value="Tony Stark"
                  disabled
                />
              </div>
              <div class="box" style="margin-left: 10px; margin-top: 0px">
                <label for="password">Password</label>
                <input
                  type="text"
                  name="password"
                  id="password"
                  value="12345678"
                  disabled
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
