<%- layout('/layout/template.ejs') %>
<div class="purchasemembership">
  <div class="mainpage">
    <div class="section-1">
      <h3>Account</h3>
      <hr style="width: 80%; margin-left: 20px; margin-top: 20px" />
      <div class="links">
        <div class="elements">
          <div><img src="../images/Home.png" alt="" /></div>
          <a href="/home2">Home</a>
        </div>
        <div style="position: relative" class="elements">
          <div><img src="../images/9977091-removebg-preview.png" alt="" /></div>
          <a href="../personalInfo.html">Personal Info</a>
        </div>
        <div class="elements">
          <div><img src="../images/Password.png" alt="" /></div>
          <a href="../password/password.html">Password Info</a>
        </div>
        <div style="position: relative" class="elements">
          <div><img src="../images/Memebership (1).png" alt="" /></div>
          <a href="../membership/membership.html">Memebership Details</a>
          <img
            style="
              width: 10px;
              height: 10px;
              -webkit-transform: scaleX(-1);
              transform: scaleX(-1);
              position: absolute;
              top: 7px;
              right: 0px;
            "
            src="../images/1200px-Red_Arrow_Left.svg-removebg-preview.png"
            alt=""
          />
        </div>
        <div class="elements">
          <div><img src="../images/Logout.png" alt="" /></div>
          <a href="/home">LogOut</a>
        </div>
      </div>
    </div>

    <div class="section-2">
      <h1>Membership Details</h1>

      <hr
        style="
          width: 90%;
          margin-left: 22px;
          margin-top: 20px;
          color: grey;
          opacity: 0.5;
        "
      />

      <div>
        <section id="subscribe-pl">
          <div class="box1">
            <div class="box2-i">
              <h3>Basic</h3>
              <h2><sup>$</sup>10<sub>/mo</sub></h2>
              <h4>Billed as $120 per year</h4>
              <h3>Unlock Feature:</h3>
              <span><i class="fa fa-solid fa-check"></i>200 likes a day</span
              ><br />
              <span
                ><i class="fa fa-solid fa-check"></i>5 super likes a day</span
              >
              <br />
              <br />
              <br />
              <form action="./membership.html">
                <button class="p-n" type="submit">Purchase Now</button>
              </form>
            </div>
            <div class="box2-ii">
              <h3>Standard</h3>
              <h2><sup>$</sup>20<sub>/mo</sub></h2>
              <h4>Billed as $240 per year</h4>
              <h3>Unlock Feature:</h3>
              <span><i class="fa fa-solid fa-check"></i>500 likes a day</span
              ><br />
              <span
                ><i class="fa fa-solid fa-check"></i>20 super likes a day</span
              ><br />
              <span
                ><i class="fa fa-solid fa-check"></i>Swipe around the
                world</span
              >
              <br />
              <br />
              <br />
              <form action="./membership.html">
                <button class="p-n" type="submit" style="margin-top: -100px">
                  Purchase Now
                </button>
              </form>
            </div>
            <div class="box2-iii">
              <h3>Premium</h3>
              <h2><sup>$</sup>35<sub>/mo</sub></h2>
              <h4>Billed as $420 per year</h4>
              <h3>Unlock Feature:</h3>
              <span><i class="fa fa-solid fa-check"></i>Unlimited likes</span
              ><br />
              <span
                ><i class="fa fa-solid fa-check"></i>50 super likes a day</span
              ><br />
              <span
                ><i class="fa fa-solid fa-check"></i>Swipe around the
                world</span
              ><br />
              <span
                ><i class="fa fa-solid fa-check"></i>1 Boost each a month</span
              >
              <br />
              <br />
              <br />
              <form action="./membership.html">
                <button class="p-n" type="submit">Purchase Now</button>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
